@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#counter {
    color: #000;
    font-size: 12rem;
    font-weight: bold;
    text-transform: uppercase;
}

.buttons-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #ff8;
    border: none;
    display: block;
    margin: 10px;
    outline: none;
    padding: 2rem;
}

button i {
    color: #000;
    display: block;
    font-size: 1.5rem;
}

button:hover {
    background-color: #ff6;
}

button:active {
    background-color: #ff4;
}
